/* Space out content a bit */
body {
  top: 0px;
  left: 0px;
}

/* **************** head style ************* */
.head {
	width: 100%;
	height:auto;
	background-image:url('../images/banner1.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.header-style {
	padding: 7rem 7rem 9rem 7rem;
	text-align: center;
	color:#fff;
}


/* ****************** top navigation ************** */
.nav-link {
	font-family: arial, sans-serif;
	font-size:1em;
	font-weight:normal;
	color:#777;
	text-shadow: 1px 1px 0px white;
}

.text-muted {
	color: #fff;
}

.text-muted img {
	width:180px;
	height: 160px;
}

.navigation {
	padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  width: 100%;
  margin: 0 auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
.container {
	width: 70%;
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {

  }
  
  .navbar {
    margin-bottom: 0.5rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Employer desing */

/* common layout */
.top-header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: auto;
	background-color: #00BA6D;
}

.nav-container {
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
}

.sidebar {
	border-right: 1px solid #dedede;
}

.col-sm-2 {
	padding: 0px;
	margin: 0px;
}

/* navigation */
.nav {
	list-style: disc;
}

.nav li {
	float: left;
    min-width: 90px;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    border-left: 1px solid #d9d9d9;    
}

.nav li a {
	display: block;
    height: 100%;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #b2afaa;
    line-height: 18px;
    text-decoration: none;
}

.nav li .active {
	border-bottom: 3px solid #ff7f74;
    color: #383838;
}

/* header */
.employer-logo {
	text-align: center;
}

.employer-info-panel {
	
}

.employer-name {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
}

.line-break {
	width: 100%;
	border-bottom: 1px solid #dedede;
	line-height: 0.1em;
}