<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="employer-name">Company Pvt. Ltd.</h4>
			</div>
		</div>
	</div>
</div>
<div class="nav-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav">
					<li><a href="guidely.html" class="active"><span>App Tour</span><i class="glyphicon glyphicon-dashboard"></i> </a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Employes</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>